@{
  Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de reclutación y gestión de candidatos</title>
      <link href="#" rel="stylesheet" />
        </head>
    <body>
    
        <noscript>
            <strong>Lo sentimos, pero la aplicación no funciona correctamente sin Javascript habilitado. Por favor, activelo para continuar</strong>
        </noscript>
        <script>
        window.GestionCandidatosApi = configuration.GetValue<string>("OauthApi");
        </script>
    </body>
</html>


